body {
	background-image:url('../assets/pictures/background-death-star.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;

	background-color: #cccccc; /* Used if the image is unavailable */
	height: 500px; 
	background-position: center;


  }

  .logo {	
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: auto;
  }


  .header {
	color: gold;
	text-align: center;
	font-weight: normal;
	font-size: 50px;
	font-family: 'star jedi hollow';
	background: #414042;
	border: gold 3px;
	padding: 10px 20px;
	width: 100%;
	
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	position: sticky;
	top: 10px;
  }

.header2 {
	color: gold;
	text-align: center;
	font-weight: normal;
	font-size: 25px;
	font-family: 'star jedi hollow';
	border: gold 3px;
	padding: 10px 20px;
	width: 100%;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	/*position: sticky;*/
	top: 10px;
}

.colors {
	color: #414042;
	color: #eee6dd;
	color: #a5978c;
	color: #93221f;
	color: #3299de;
}

.menu {
	
	text-align: center;
	font-weight: normal;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif /* 'star jedi' */;
	font-size: 35px;
	background: #333;
	padding: 20px 15%;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	position: sticky;
	top: 10px;
}

.menu a {
	color: gold;
	text-decoration: none;
	cursor: pointer;
}


@media only screen and (max-width: 1000px) {
	.menu {
		padding: 20px 10%;
		font-size: 25px;
	}
  }

@media only screen and (max-width: 700px) {
	.menu {
		padding: 20px 5%;
		font-size: 15px;
	}
  }

.main-page-container {
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	font-family: system-ui;
}

.description {
	background: #fff;
	width: 80%;
	margin: 5%;
	font-family: system-ui;
	letter-spacing: 1px;
	overflow: hidden;
	border-radius: 20px;
	border: 1px solid #372e29;
	padding: 50px;
	/* position: relative; */
	text-align: left;
	color: #372e29;
}
/* Button */
.button-container{
    display: flex;
    justify-content: space-around;
}
.load-more-button{
    width: 7rem;
    height: 2rem;
    font-family: system-ui;
    font-weight: bold;
    background-color: azure;
    border: none;
    cursor: pointer;
    transition: 0.5s ;
}
.load-more-button:hover{
    opacity: 0.9;
    transition: 0.5s;
    cursor: pointer;
}
/* Buttond end */

/* ----------------------------------- */

/* Lists */

.list-container {
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 5%;
}

ul{
    list-style: none;
}
.list-header{
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 4rem;
    background-color: azure;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
li span{
    text-align: center;
    /* border: 1px solid white; */
}
.createdLi{
    display: flex;
    align-items: center;
    width: 100%;
    height: 18.75rem;
    margin-bottom: 0.5rem;
    background-color: lightskyblue;
    border-radius: 0.5rem;
}

/* Lists end */

/* ---------------------------------------- */

/* Film page start */

.title, .episode_id {
    flex-basis: 10%;
}

.opening_crawl{
	flex-basis: 40%;
}

.director, .release_date {
    flex-basis: 10%;
}

/* ----- */

.filmTitle, .filmEpisodeId { /* 20% */
    flex-basis: 10%;
}

.filmOpeningCrawl{
    flex-basis: 40%;
}

.filmReleaseDate, .filmDirector{ /* 20% */
    flex-basis: 10%;
}

.filmImgContainer{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filmImg{
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 2%;
}

/* Film page end */

/* ----------------------------------- */

/* People page start */

.name, .birth_year {
    flex-basis: 10%;
}

.species, .homeworld{
    flex-basis: 10%;
}

.films{
	flex-basis: 40%;
}
/*-*/
.peopleName, .peopleBirthYear {
    flex-basis: 10%;
}

.peopleSpecies, .peopleHomeworld{
    flex-basis: 10%;
}

.peopleFilms{
    flex-basis: 40%;
}

.peopleImgContainer{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.peopleImg{
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 2%;
}

/* People page end */

/* ----------------------------------- */

/* Planets page start */

.residents {
    flex-basis: 20%;
}

.climate, .population, .name{
    flex-basis: 10%;
}

.films {
	flex-basis: 30%;
}
/*-*/

.planetResidents {
	flex-basis: 20%;
}

.planetClimate, .planetPopulation, .planetName{
    flex-basis: 10%;
}

.planetFilms{
    flex-basis: 30%;
}

.planetImgContainer {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.planetImg {
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 2%;
}

/* Planets page end */

/* ----------------------------------- */

/* Vehicles page start */

.nameame, .model { /* 30% */
    flex-basis: 15%;
}

.costInCredits {
    flex-basis: 20%;
}

.films {
	flex-basis: 30%;
}

.pilots{
    flex-basis: 10%;
}

/*-*/

.vehicleName, .vehicleModel { /* 30% */
    flex-basis: 15%;
}

.vehicleCostInCredits { 
    flex-basis: 20%;
}

.vehicleFilms {
	flex-basis: 30%;
}

.vehiclePilots{
    flex-basis: 10%;
}

.vehicleImgContainer{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vehicleImg{
    width: 70%;
    height: 70%;
    object-fit: contain;
    border-radius: 2%;
}

/* Vehicles page end */

/* ----------------------------------- */

/* Footer start */

.footer {
	margin-top: 150px;
	width: 100%;
	padding: 100px 0;
	background: #333;
	color: #efefef;
	display: flex;
}

.footer div {
	text-align: center;
	width:33%;
}

.column-2 {
	flex-grow: 2;
}

.footer div h3 {
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.column-1 a{
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;
}

form input {
	width: 400px;
	height: 45px;
	border-radius: 4px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	outline: none;
	border: none;
}

form button {
	background: transparent;
	border: 2px, solid, #fff;
	color: #fff;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 15px;
	cursor: pointer;
}

.social-icons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
	min-width:100%;
}
.social-icons i {
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}

/* Footer end */

/*
Art by Rowan Crawford

               ________
          _,.-Y  |  |  Y-._
      .-~"   ||  |  |  |   "-.
      I" ""=="|" !""! "|"[]""|     _____
      L__  [] |..------|:   _[----I" .-{"-.
     I___|  ..| l______|l_ [__L]_[I_/r(=}=-P
    [L______L_[________]______j~  '-=c_]/=-^
     \_I_j.--.\==I|I==_/.--L_]
       [_((==)[`-----"](==)j
          I--I"~~"""~~"I--I
          |[]|         |[]|
          l__j         l__j
          |!!|         |!!|
          |..|         |..|
          ([])         ([])
          ]--[         ]--[
          [_L]         [_L]  -Row  (the Ascii-Wizard of Oz)
         /|..|\       /|..|\
        `=}--{='     `=}--{='
       .-^--r-^-.   .-^--r-^-.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/